// Mixins Here

.centering {
    width: 100%;
}

.phone-cen {
    width: 100%;
    padding: 0;
    margin: 0;
}

.phone-mar-pad {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.bottom-border(@size:2px; @type:solid; @color:@nav-border;)
{
    border: @size @type @color;
}

// Parametric Mixin
.button(@color, @bg-color, @width) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    color: @color;
    background-color: @bg-color;
    cursor: pointer;
    height: 30px;
    border-radius: 5px;
    padding-bottom: 7px;
    width: @width;
}