// Navigation code here

.title {
    .centering();
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    padding: 10px 0;
    margin-bottom: 10px;
}

.nav {
    .centering();
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: @river-bend;
    margin-bottom: 10px;
}

nav a {
    justify-content: space-around;
    color: black;
    text-decoration: none;
    padding:  0 15px;
    font-size: 1.65rem;
}

.main-header {
    .center-img();
    border-radius: 5px;
}

header h2 {
    .centering();
}