// Navigation code here
header {
    border: 1px solid @sea-shell;
    color: @ebony-clay;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    padding: 10px 0;
    margin-bottom: 10px;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: @river-bend;
    margin-bottom: 10px;
}

nav a {
    justify-content: space-around;
    color: black;
    text-decoration: none;
    padding:  0 15px;
    font-size: 1.65rem;
}

.main-header {
    margin: 2px 0;
    border-radius: 5px;
}